/*===========Conocenos============*/

.Ajolotitorosa{
  position: absolute;
  width: 35%;
  height: 55%;
  left: -2%;
  top: 10%;  
}


.Ajolotitomorado{
    position: absolute;
    
    width: 35%;
    height: 55%;
    right: 0%;
    top: 55%;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

.Kisinclarito{
    position: absolute;
width: 295px;
height: 199px;
left: 42%;
top: 19%;

font-family: Oleo Script;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 199px;

color: #FDD3D5;

}

.Kisinjuerte{
    position: absolute;
width: 295px;
height: 199px;
left: 41%;
top: 19%;

font-family: Oleo Script;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 199px;

color: #EE4044;

}

.Slogan{
  position: absolute;
  width: 401px;
  height: 118px;
  left: 41%;
  top: 42%;

  font-family: Montserrat;
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;

  color: #000000;
}

.misi{
  position: absolute;
width: 72px;
height: 29px;
left: 6.2%;
top: 70%;

font-family: Century Gothic;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

}

.misid{
  position: absolute;
width: 678px;
height: 161px;
left: 6.2%;
top: 76%;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-align: justify;

}

.visi{
  position: absolute;
width: 67px;
height: 29px;
left: 6.2%;
top: 97%;

font-family: Century Gothic;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

}



.visid{
  position: absolute;
width: 678px;
height: 134px;
left: 6.2%;
top: 103%;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-align: justify;

color: #000000;

}

.Cuenta{
  
  position: absolute;
width: 120px;
height: 29px;
left: 6.2%;
top: 199%;

font-family: Century Gothic;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

}

.cuentad{
  
  position: absolute;
width: 1200px;
height: 284px;
left: 6.2%;
top: 205%;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-align: justify;

}

.op{
  
  position: absolute;
width: 720px;
height: 29px;
left: 6.2%;
top: 252%;

font-family: Century Gothic;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

}

.opd{
  
  position: absolute;
width: 1200px;
height: 509px;
left: 6.2%;
top: 258.5%;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-align: justify;

}

.produ{
  
  position: absolute;
width: 720px;
height: 29px;
left: 6.2%;
top: 335%;

font-family: Century Gothic;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

}

.produd{
  
  position: absolute;
width: 1200px;
height: 134px;
left: 6.2%;
top: 342%;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-align: justify;

}

.dispo{
  
  position: absolute;
width: 720px;
height: 29px;
left: 6.2%;
top: 368%;

font-family: Century Gothic;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

}

.dispod{

  position: absolute;
width: 1200px;
height: 120px;
left: 6.2%;
top: 375%;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-align: justify;

}

.nego{
  
  position: absolute;
width: 720px;
height: 29px;
left: 6.2%;
top: 398%;

font-family: Century Gothic;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

}

.negod{
  
  position: absolute;
width: 1200px;
height: 234px;
left: 6.2%;
top: 406%;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-align: justify;

}

.menu-requisitos a{
  color: #ffffff;
  background-color: #CC90FF;
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  margin: 1rem;
  transition: 0.2s all ease-in;
}
.menu-requisitos a:hover{
  color: #6E5191;
}

.organi{
  
  position: absolute;
  width: 35%;
  height: 43%;
  left: 12%;
  top: 118%;
}

.barra-fija{
  
  position: absolute;
  position: -webkit-sticky;
  top: 168%;
  left: 6.2%;
  
}

h4{
  font-family: Century Gothic;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
}

.barra-fija a{
  color: #ffffff;
  background-color: #6E5191;
  display: inline-flexbox;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  transition: 0.2s all ease-in;
  cursor: pointer; 
  margin-right: 1rem;   
}
.barra-fija a:hover{
  color: #CC90FF;
}
