.cards {
    display: grid;
    height: var(--color-);
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2rem;
    margin-top: 1rem;
}
.card {
    background: var(--color-white);
    border-radius: 15px;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow);
}
.card__image {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
    width: 100%;
    margin: 0 auto;
	padding: 10px 0;
	background: #FFF;
}
.card__image img {
	width: 70%;
	margin: 0 auto;
}
.card__text {
    padding: 20px;
}
.card__text h3{
    font-size: 1rem;
}
.card__text {
    font-size: 1.5rem;
    line-height: 1.3;
}

/* ============== MEDIA QUERIES ============== */
@media screen and (max-width: 1750px) {
    .cards {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 1550px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1440px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1300px) {
	.right {
		margin-right: 1.5rem;
	}
}

@media screen and (max-width: 1220px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
	aside {
		height: 115vh;
	}

	.right {
		margin-right: 3rem;
	}

	aside .logo h2 {
		display: none;
	}

	aside .sidebar h3 {
		display: none;
	}

	aside .sidebar a {
		width: 5.6rem;
	}
}

@media screen and (max-width: 1080px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 799px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 650px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 375px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 800px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
	}
	aside {
		position: fixed;
		left: -100%;
		background: var(--color-white);
		width: 18rem;
		z-index: 3;
		box-shadow: 1rem 3rem 4rem var(--color-light);
		height: 100vh;
		padding-right: var(--card-padding);
		display: none;
		animation: showMenu 400ms ease forwards;
	}

	aside .top {
		justify-content: space-between;
		margin: 2rem 0 2rem 0;
	}

	@keyframes showMenu {
		to {
			left: 0;
		}
	}

	.right {
		width: 94%;
		margin: 0 auto 4rem;
	}

	aside .logo h2 {
		display: inline;
	}

	aside .sidebar h3 {
		display: inline;
	}

	aside .sidebar a {
		width: 100%;
		height: 3.4rem;
	}

	aside .sidebar a:last-child {
		position: absolute;
		bottom: 5rem;
	}

	aside .close {
		display: inline-block;
		cursor: pointer;
	}
}